name: CV-CI

on: [push]

jobs:
  build-cv:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3
    
    - name: Generate PDF
      run: make
    
    - name: Upload PDF artifact
      uses: actions/upload-artifact@v3
      with:
        name: cv-pdf
        path: Nuruzzaman_Milon_cv.pdf
